<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bánh Sinh nhật Bento Cake</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="CSS/navbar.css">
        <link rel="icon" href="Media/logo.png" type="image/x-icon">
    </head>
<body>
    <nav class="navbar navbar-expand-xxl bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="homepage.html" class="navbar-brand">Origato</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mx-2">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="veorigato.html">VỀ ORIGATO</a> 
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">TIN TỨC</a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="tincongty.html">Tin công ty</a></li>
                        <li><a class="dropdown-item" href="tintuyendung.html">Tin tuyển dụng</a></li>
                        <li><a class="dropdown-item" href="tinkhuyenmai.html">Khuyến mãi hot</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">BÁNH SINH NHẬT</a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="mousse.html">Bánh sinh nhật Mousse-Phomat-Tiramisu</a></li>
                        <li><a class="dropdown-item" href="kemtuoi-scl.html">Bánh sinh nhật kem tươi - Socola</a></li>
                        <li><a class="dropdown-item" href="bentocake.html">Bánh sinh nhật Bento Cake</a></li>                        
                        <li><a class="dropdown-item" href="betrai.html">Bánh sinh nhật bé trai</a></li>
                        <li><a class="dropdown-item" href="begai.html">Bánh sinh nhật bé gái</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="banhtrungthu.html">BÁNH TRUNG THU 2024</a> 
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">SẢN PHẨM KHÁC</a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="minicake.html">Mini cake</a></li>
                        <li><a class="dropdown-item" href="banhmi.html">Bánhmì dinh dưỡng</a></li>
                        <li><a class="dropdown-item" href="banhpizza.html">Bánh pizza</a></li>
                        <li><a class="dropdown-item" href="cookies.html">Cookies - Macaron</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="dropdown" style="margin-left: 370px;" >
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                      <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                      <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                    </ul>
                </div>   
                <a href="#" class="text-light" style="margin-left: 15px;"><i class="fa-solid fa-cart-shopping"></i></a>             
            </div> 
        </div>        
    </nav>
    <img src="Media/vearigatouslide1.png" style="width: 100%;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
                <div class=" rounded-3" style="width: 260px;">
                    <h3 style="height: 40px;" class="text-center bg-primary text-light">Danh Mục Bánh</h3>
                    <div class="list-group" style="margin-top: -7px;" >
                        <a href="mousse.html" class="list-group-item list-group-item-action list-group-item-warning">> Bánh sinh nhật Mousse-Phomat-Tiramisu</a>
                        <a href="kemtuoi-scl.html" class="list-group-item list-group-item-action list-group-item-warning">> Bánh sinh nhật Kem tươi - Socola</a>
                        <a href="bentocake.html" class="list-group-item list-group-item-action list-group-item-warning">> Bánh sinh nhật Bento Cake</a>
                        <a href="minicake.html" class="list-group-item list-group-item-action list-group-item-warning">> Mini Cake</a>
                        <a href="begai.html" class="list-group-item list-group-item-action list-group-item-warning">> Bánh sinh nhật bé gái</a>
                        <a href="betrai.html" class="list-group-item list-group-item-action list-group-item-warning">> Bánh sinh nhật bé trai</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento1.png" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">Bento kem tươi ocean</h5>
                            <p class="text-center d-block text-muted h6 my-4">350.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento2.png" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">Bento kem tươi socola</h5>
                            <p class="text-center d-block text-muted h6 my-4">390.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento3.png" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">Bento kem tươi cherry</h5>
                            <p class="text-center d-block text-muted h6 my-4">350.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3">  
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento4.jpg" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">Violet</h5>
                            <p class="text-center d-block text-muted h6 my-4">290.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento5.jpg" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">SX04</h5>
                            <p class="text-center d-block text-muted h6 my-4">270.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="#" class="d-flex justify-content-center" style="text-decoration: none;">
                    <div  class="card card-hover" style="width:250px; border: 0;">
                        <img class="card-img-top" src="Media/Bento6.jpg" alt="Bánh thạch hoa quả">
                        <div class="card-body">
                            <h5 class="card-title text-center text-muted">Thanh Anh</h5>
                            <p class="text-center d-block text-muted h6 my-4">270.000đ</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-light mt-5 p-5">
        <div class="container">
          <div class="row" style="margin-left:30px;">
            <div class="col-md-4">
              <h4>Thông tin về chúng tôi</h4>
              <h6>Origato – Vị ngọt cuộc sống</h6>
              <p class="mt-3">Email: bqd142@gmail.com</p>
              <p>Điện thoại: 0346-765-412</p>
              <img src="Media/bocongthuong.png">
            </div>
            <div class="col-md-4">
              <h5>Hỗ trợ khách hàng</h5>
              <p class="mt-3">Hướng dẫn đặt bánh online</p>
              <p>Chính sách đổi trả</p>
              <p>Liên hệ và góp ý</p>
              <p>Phương thức thanh toán</p>
              <a href="#"> <i class="fa-brands fa-square-facebook"></i></a> 
              <a href="#"> <i class="fa-brands fa-square-instagram"></i> </a>
              <a href="#"> <i class="fa-brands fa-youtube"></i> </a>
            </div>
            <div class="col-md-4">
              <h5>Liên hệ tư vấn</h5>
             
              <p class="mt-3"> Hotline tư vấn và đặt bánh:</p>
              <h6>0911 638 166 – 0243.863.2514</h6>
              <h6>Khiếu nại và hỗ trợ: 0243.863.2514</h6>
              <h6>Email: datbanhonline@haiha-kotobuki.com.vn</h6>
              <p>Giờ làm việc: 8h00 – 16h30</p>
            </div>
          </div>
          <div class="text-center mt-3">
            <p>© 2024 Bùi Quang Độ. All rights reserved.</p>
            <a href="#" class="text-light">Điều khoản sử dụng</a> | 
            <a href="#" class="text-light">Chính sách bảo mật</a>
          </div>
        </div>
    </footer>

</body>
</html>